.container{
    display: grid;
    grid-template-areas: 
    "big big big big big"
    "menu content content content content"
    "menu Footer Footer Footer Footer";
    grid-template-columns: 300px auto;
    grid-template-rows:auto auto;
    gap: 2px;
}

.container > div {
    color: #000;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    line-height: 1.5;
    letter-spacing: 0.5px;
}

.big { grid-area: big;}
.menu { grid-area: menu;}
.content{ grid-area: content;}
.Footer { grid-area: Footer;}

.big{
    padding: 10px;
    background-color: aliceblue;
    padding: 50px;
}

.menu{
    padding: 50px;
}

.menu a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}
  
/* Hover state for the links */
.menu a:hover {
    color: rgb(126, 230, 230);
    text-decoration: underline;
}
  
/* Active state for the links */
  .menu a:active {
    color: red;
}

.content{
    padding: 30px;
    margin-right: 50px;
    text-align: justify;
}


.Footer{
    padding: 10px;
}

img{
    width: 150px;
    height: 200px;
    padding-bottom: 50px;
    align-items: center;
}

hr{
    height: 2px;
}

@media screen and (max-width: 400px) {
    .container{
        display: grid;
        grid-template-columns: 1fr;
        text-align: left;
    }
}

