.container{
    display: grid;
    grid-template-areas: 
    "big big big big big"
    "menu content content content content"
    "menu Footer Footer Footer Footer";
    grid-template-columns: 300px auto;
    grid-template-rows:auto auto;
    gap: 2px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
}

.container > div {
    color: #000;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    line-height: 1.5;
    letter-spacing: 0.5px;
}

.big {
    grid-area: big;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px; /* Adjust the height as needed */
}

.banner-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the entire area */
    z-index: -1; /* Ensure the banner image is behind the text */
}

.big h1{
    margin: 0;
    background-color: rgba(113, 242, 247, 0.233);
    padding: 10px;
    font-size:44px; /* Adjust the font size */
    font-weight: lighter;
    color: black; /* Ensure the text color is visible */
    z-index: 1; /* Ensure the text is above the banner */
}
.menu { grid-area: menu;}
.content{ grid-area: content;}
.Footer { grid-area: Footer;}

.big{
    padding: 50px;
}

.menu{
    padding: 50px;
    gap: 40px;
}

.menu a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    display: block;
    line-height: 10px;
}
  
/* Hover state for the links */
.menu a:hover {
    color: rgb(126, 230, 230);
    text-decoration: underline;
    font-weight: lighter;
}
  
/* Active state for the links */
  .menu a:active {
    color: red;
}


.content{
    padding: 30px;
    margin-right: 50px;
    text-align: left;
}


.Footer{
    padding: 10px;
}

img{
    width: 150px;
    height: 200px;
    align-items: center;
    border: 1px solid rgba(184, 230, 227, 0.438);
}

hr{
    height: 2px;
}

@media screen and (max-width: 400px) {
    .container{
        display: grid;
        grid-template-columns: 1fr;
        text-align: left;
    }
}

h2{
    font-weight: lighter;
}
