body{
    font-family:sans-serif;
}
.heading{
    background-color: rgb(98, 235, 216); 
    padding: 40px; text-align: center;
    max-height: 100px;
    width:auto;
}

.heading_1{
    color: rgb(5, 5, 46);
}

.heading_2{
    text-decoration-line:none;
    padding-top: 10px;
    font-style: normal;
}

.section{
    padding: 60px;
    width: 200px;
    float: left;
    background-color: rgb(250, 255, 255);
    align-content: center;
}

img{
    height: 250px;
    width: 200px;
}

.art,.main_one{
    display: flex;
    padding: 40px;
}

.ul_1{
    margin-left: -35px;
    padding: 30px;
    list-style-type: none;
}

.section{
    max-height:fit-content;
}

p{
    margin-top: -70px;
    line-height: 25px;
}

.list{
    padding: 5px;
    list-style-type: circle;
    margin-top: -50px;
    margin-left: 340px;
}

.ind{
    display: flex;
    padding: 40px;
    margin-left: -40px;
}

.mar{
    display: flex;
    padding: 40px;
    margin-left: 280px;
}

article{
    padding-right: 30px;
    text-align: justify;
}

.quote{
    display: flex;
    margin: -45px 5px 5px 360px;
}

.ul_1 li {
    display: inline-block;
    margin-right: 15px;
}

.ul_1 li a {
    text-decoration: none;
    color: #000; 
    padding: 2px 10px;
    display: inline-block;
}

.ul_1 li a:hover {
    text-decoration: underline;
    text-decoration-color:rgb(98, 235, 216);
    text-decoration-thickness: 2px;
}